body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: lightblue;
}
main {
  padding: 20px;
}
footer {
  background-color: dodgerblue;
  color: white;
  padding: 10px;
  text-align: center;
}
li, p{
    text-align: justify;
    /*justificar el texto*/
    hyphens: auto;
    /*activar el corte de palabras*/
    word-wrap: break-word;
    /*romper las palabras para ajustarlas al ancho*/
    max-width: 700px;
    /*definir un ancho máximo para cada línea*/
}
.encabezado {
    font-family: Arial, sans-serif; /*establecer el tipo de fuente*/
    font-size: 16px; /*establecer el tamaño de la fuente*/
    font-weight: bold; /*establecer el estilo negrita*/
  }
